
    <div class="row" id="top-row-buffer"></div>
    <div class="row">
        <div class="col s6 offset-s3">
            <span class"flow-text">




                <div class="card large sticky-action #b71c1c red darken-4" id="xmas-card">

                


                    <div class="card-image waves-effect waves-block waves-light">
                        <img id="present-img"
                            src="https://images.unsplash.com/photo-1512909006721-3d6018887383?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fGNocmlzdG1hc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                    </div>
                    <div class="card-action">


                        <span class="card-title activator grey-text text-darken-4" id="card-title">Santa's
                            Helper</span>
                        <p><a href="/lists">Create a List!</a></p>

                    </div>
                </div>

            </span>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    {{!-- <script type="text/javascript" src="js/materialize.min.js"></script> --}}

