
    <div class="container center-align">
        <div class="row top-30">
            <div class="col-md-2 col-sm-2">
                <a class="waves-effect waves-light btn" href="/lists">Go to Lists</a>
            </div>
            <div class="col-md-2 col-sm-2">
                <a class="waves-effect waves-light btn" href="/search">Search for Gifts</a>
            </div>
        </div>
        <div class="row">
        <form id="item-input">
        <div class="row">
            <div class="input-field col s6">
                <textarea id="gift-item-name" class="materialize-textarea white-text"></textarea>
                <label for="search">Gift Name Here</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="gift-item-desc" class="materialize-textarea white-text"></textarea>
                <label for="search">Add Description Here</label>
            </div>
            <br />
            <button type="submit" class="waves-effect waves-light btn submit">Submit</button>
        </div>
        </div>
        </form>
    </div>
    <!-- Custom Script -->
    <script src="js/items.js" type="text/javascript"></script>


