 <div class="row" id="top-row-buffer"></div>
  <div class="container blog">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/items">Add a Gift Item</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/lists">Manage Lists</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 member-container">
        <ul class="list-names collection">
                            {{#each listmember}}
                            <li class="collection-item teal lighten-2 list-member-collection" id="listmember">
                                
                                <span class="member-name-text">{{this.ListMemberId}}</span>

                                <span class="member-name-text">{{this.item}}</span>

                                <span class="member-name-text">{{this.desc}}</span>

                                <a class="waves-effect waves-light btn secondary-content red darken-1 delete-btn" data-id={{id}} >Delete</a>
                                
                            </li>
                            {{/each}}
                        </ul>
      </div>
    </div>
  </div>
  <script src="../js/members.js" type="text/javascript"></script>